.divide-1,
.divide-2,
.divide-3 {
  display: flex;
  padding: 6rem 4rem;
}

.divide-1 {
  width: 70%;
  margin: auto;
}
.divide-3 {
  width: 100%;
  align-content: space-between;
}

.knowhere-container {
  width: 70%;
  margin: 0 auto;
}
