.divide-1,
.divide-2,
.divide-3 {
  display: flex;
  padding: 6rem 4rem;
}

.divide-1 {
  width: 70%;
  margin: auto;
}
.divide-3 {
  width: 100%;
  align-content: space-between;
}

.knowhere-container {
  width: 80%;
  margin: 0 auto;
  padding: 8rem 0;
  max-width: 1000px;
  div {
    padding-bottom: 4rem;
  }
}

.socialwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  div {
    padding: 2rem;
    margin: 0 auto;
  }
}
