.TTTwrapper {
	margin: 0 auto;
	padding-top: 8rem;
	text-align: center;
}
@media (max-width: 600px) {
	.TTTwrapper {
		display: none;
	}
}

.square {
	border: 1px solid white;
	float: left;
	font-size: 50px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 80px;
	line-height: 80px;
	height: 80px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	background-color: black;
	margin: 10px;
}
.square:hover {
	border: 1px solid rgb(66, 66, 66);
}
.square:active {
	background-image: linear-gradient(
		to left,
		rgb(189, 189, 189) 0%,
		rgb(255, 255, 255) 100%
	);
}

/* Board */
.board-row:after {
	clear: both;
	content: "";
	display: table;
}
/* Game */
.game {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}
/* Game Info */
ul {
	padding-left: 30px;
	list-style: none;
}
.links {
	color: grey;
}
.links:hover {
	text-decoration: underline;
	color: white;
}
.game-info {
	margin-left: 20px;
}
.status {
	margin-bottom: 10px;
}
.instructions {
	background-color: black;
	color: white;
	font-size: 80px;
	margin: 2rem;
	border-radius: 0.5rem;
}
