.container {
  margin: 0 auto;
}
.vertical {
  padding: 1rem;
}

.img {
  background-color: yellowgreen;
  margin: 0 auto;
}
.title {
  text-align: center;
}

.paragraph {
  text-align: center;
}

.half {
  display: flex;
  flex-direction: row;
  flex-grow: auto;
  margin: auto;
}
.half1,
.half2 {
  padding: auto;
  margin: auto;
}

// alter Orientation
