.container {
  margin: 0 auto;
}
.vertical {
}

.img {
  background-color: yellowgreen;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.title {
  text-align: center;
}

.paragraphy {
  text-align: center;
}

.half {
  display: flex;
  flex-direction: row;
  flex-grow: auto;
  margin: auto;
}
.half1,
.half2 {
  padding: auto;
  margin: auto;
}

// alter Orientation

// Methology cards

.methCard {
  background-color: #ffffff;
  border: 5px solid #ffffff;
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 0.5rem 1rem;
}

.methTitle {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.methParagraph {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
}
