.page-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8vw 4vw;
  margin: auto;
  text-align: center;
  height: 100vh;
  background-color: black;
}

.page-head-title {
  font-size: 64pt;
  color: white;
  margin-bottom: 8px;
  letter-spacing: 2px;
}

.page-head-sub {
  margin: 0;
  font-size: 16pt;
  font-weight: 500;
  line-height: 24pt;
  letter-spacing: 0.4pt;
  color: white;
}

$themes: (
  1: (
    text: crimson,
    background: gainsboro
  ),
  2: (
    text: black,
    background: white
  ),
  3: (
    text: antiquewhite,
    background: darkslategray
  ),
  4: (
    text: lightsteelblue,
    background: midnightblue
  ),
  5: (
    text: #222,
    //black
      background: bisque //cream
  ),
  6: (
    text: cornsilk,
    background: black
  ),
  7: (
    text: papayawhip,
    background: brown
  ),
  8: (
    text: olivedrab,
    background: #031d23 //dark teal
  )
);

@each $themeNo, $map in $themes {
  .theme-#{$themeNo} {
    .navigation-clean,
    .page-head {
      background-color: map-get($map, background) !important;
    }
    #page-head h1,
    #page-head h2,
    .sitehead .nav-link {
      color: map-get($map, text) !important;
    }
    .sitehead .navbar-light .navbar-nav .nav-link:hover {
      color: rgba(map-get($map, text), 0.5) !important;
    }
    #scroll {
      .stroke {
        stroke: map-get($map, text);
      }
      .fill {
        fill: map-get($map, text);
      }
    }
  }
}

#scroll {
  margin-top: 180px;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
